<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../node_modules/bulma/css/bulma.css">
    <title>Document</title>
</head>
<body>
    <div class=" columns is-vcentered has-background-grey-lighter has-text-centered">
        <div class="column p-6">
            <div class="content is-large">
                <h2 class="is-bold" >BISTRO REPUBLIC</h2>
                <p>
                    En bistro republic nos enfocamos en la atencion al cliente y en el deleite de su paladar. 
                        Tenemos un menu variado con opciones para cualquier gusto.
                        No te quedes sin conocernos, te esperamos con los brazos abiertos.
                </p>
            </div>
        </div>
        <div class="column is-7">
            <img src="../../img/intro16-9.jpg" alt="" >
        </div>
    </div>
    <div class="content has-background-black">
        <div class="columns is-vcentered has-text-centered">
            <div class="column is-4 ">
                <pre class="has-background-black is-bold" >
Direccion:
Estanque #522
Zona Centro
Saltillo, Coahuila
CP 25000
                </pre>
            </div>
            <div class="column is-4">
                <p>
                    Este es una ejemplo de proyecto para la universidad UTEL y no representa un servicio real de restaurante.
                </p>
                <p>
                    Alumno: David Mireles Luis <br/>
                    U-CAMP CLASS 01
                </p>
            </div>
            <div class="column is-right">
                <img src="../../img/banner sm.png" alt="">
            </div>

        </div>
    </div>
</body>
</html>